fastapi>=0.85.1
uvicorn>=0.18.0
websockets==11.0.3
openai===1.55.3
chromadb===0.5.23
duckdb===1.1.3
pandas>=1.3.0
openpyxl>=3.1.2      
pymupdf>=1.23.7
python-multipart>=0.0.5
tabula-py>=2.8.0 
pdfminer.six>=20221105
PyPDF2>=3.0.1
xlrd>=2.0.1  
lxml>=4.9.0  
psutil>=5.9.0 

langchain>=0.1.0
langchain-openai>=0.0.5
langchain-core>=0.1.0

aiofiles>=23.1.0
